<a href="https://colab.research.google.com/github/dalopez994/LPQ-HR/blob/main/LPQ_ML_Lopez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import urllib.request
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import scale, MinMaxScaler

In [ ]:
URL = 'https://docs.google.com/spreadsheets/d/1sJArkK2eoDSkPZk4rlCCuq0i99nElMjm/edit?usp=sharing&ouid=103610186518311676983&rtpof=true&sd=true'
path = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]
df_nomina = pd.read_excel(path)
df_nomina['Fecha de egreso de último tramo'] = df_nomina['Fecha de egreso de último tramo'].fillna(pd.to_datetime('today'))
df_nomina=df_nomina.assign(Antiguedad=lambda x: ((x['Fecha de egreso de último tramo'] - x['Fecha de ingreso de último tramo'])).astype('<m8[Y]').astype(int) )
df_nomina=df_nomina.assign(Edad=lambda x: (pd.Timestamp.today() - x['Fecha de nacimiento']).astype('<m8[Y]').astype(int) )

In [ ]:
#Variables categoricas a numericas
df_nomina['cod_sexo']=df_nomina['Sexo'].astype('category').cat.codes
df_nomina['cod_nacionalidad']=df_nomina['Nacionalidad'].astype('category').cat.codes
df_nomina['cod_estado_civil']=df_nomina['Estado civil'].astype('category').cat.codes

In [ ]:
#Filtro los datos que entraran en el modelo
df_data=df_nomina.iloc[:, 31:48]

In [ ]:
#Defino variables
X = df_data.drop(["Activo","Promedio"], axis=1)
y = df_data["Activo"]

In [ ]:
#Escalo los datos
x= scale(X)

In [ ]:
(X_train, X_test,y_train, y_test) = train_test_split(X,y,stratify=y,test_size=0.30)

In [ ]:
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_test_pred = tree.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
test_accuracy = accuracy_score(y_test, y_test_pred)

print('% de aciertos sobre el set de evaluación:',test_accuracy)

% de aciertos sobre el set de evaluación: 0.8235294117647058

In [ ]:
model = RandomForestClassifier( n_estimators=200,class_weight="balanced", max_features="log2")
model.fit(X_train, y_train)

RandomForestClassifier(class_weight='balanced', max_features='log2',
                       n_estimators=200)

In [ ]:
y_test_pred = model.predict(X_test)

In [ ]:
test_accuracy = accuracy_score(y_test, y_test_pred)

print('% de aciertos sobre el set de evaluación:',test_accuracy)

% de aciertos sobre el set de evaluación: 0.9215686274509803

In [ ]:
df_data

,Ambicioso,Expresivo,Sociable,Curioso,Enérgico,Flexible,Humilde,Apasionado,Positivo,Presentable,Promedio,Activo,Antiguedad,Edad,cod_sexo,cod_nacionalidad,cod_estado_civil
0,0.0,2.0,3.0,2.0,2.0,0.0,2.0,1.0,2.0,2.0,1.6,True,9,34,1,0,1
1,1.0,2.0,3.0,2.0,3.0,3.0,3.0,2.0,2.0,3.0,2.4,True,8,43,0,4,1
2,1.0,1.0,2.0,2.0,2.0,3.0,3.0,1.0,2.0,1.0,1.8,True,8,36,1,1,1
3,1.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,2.0,3.0,2.2,True,8,32,0,1,1
4,1.0,2.0,3.0,1.0,3.0,3.0,3.0,2.0,3.0,1.0,2.2,False,7,26,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2.0,1.0,2.0,3.0,1.0,3.0,2.0,1.0,3.0,3.0,2.1,True,0,19,1,2,1
166,2.0,2.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,2.0,2.3,True,0,26,1,0,1
167,1.0,2.0,2.0,2.0,2.0,3.0,2.0,1.0,2.0,3.0,2.0,True,0,23,0,0,1
168,2.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,2.4,True,0,41,0,0,1
169,2.0,2.0,3.0,3.0,2.0,3.0,2.0,1.0,2.0,3.0,2.3,True,0,22,0,0,1